.container {
    padding: 10px;
}

.fluid-container {
    text-align: left;
}

#profileRowDiv {
    margin: 1%;
}

#profileContainer {
    margin-left: 1%;
    padding: 20px;
}

#backBtn {
    float: right;
}