.h1 {
    color: #FFF;
}

.btn-primary{
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f79824;
    color: black;
}

#searchWell {
    width: 80%;
    left: 25%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}