.well-lg {
    margin: 0 auto;
}

.btn-primary{
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f79824;
    color: black;
}

@media (max-width: 768px) {
    .change-form {
        width: 100%;
        height: 100%;
    }
}